<% content_for :page_title do %>
  <%= @lookbook.name %> &#62; <%= @look.name %> &#62; <%= t('spree.lookbook.look.products.title.list') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t('spree.lookbook.link.edit'), [:edit, :admin, @lookbook], :icon => 'icon-edit', :id => 'edit_admin_lookbooks_link' %>

    <%= button_link_to t('spree.lookbook.look.link.edit'), [:edit, :admin, @lookbook, @look], :icon => 'icon-arrow-left', :id => 'edit_admin_lookbook_looks_link' %>

    <%= button_link_to t('spree.lookbook.look.link.new'), [:new, :admin, @lookbook, :look], :icon => 'icon-plus', :id => 'admin_new_lookbook_link' %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/lookbook_tabs', :locals => { :current => 'Look Products' } %>

<%= render :partial => 'form' %>

<%= render :partial => 'spree/admin/shared/look_products', :locals => { :look_products => @look_products } %>