<% content_for :page_actions do %>
  <li>
    <%= link_to_with_icon('icon-plus', t(:new_image), new_admin_lookbook_collection_lookbook_look_look_image_url(@lookbook_collection, @lookbook, @look), :id => 'new_look_image_link', :class => 'button') %>
    <%= button_link_to t('spree.look.link.back'), [:admin, @lookbook_collection, @lookbook, :looks], :icon => 'icon-arrow-left', :id => 'admin_lookbooks_link' %>
    <%= button_link_to t('spree.look.link.edit'), [:edit, :admin, @lookbook_collection, @lookbook], :icon => 'icon-edit', :id => 'admin_lookbooks_link' %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/lookbook_tabs', :locals => {:current => 'Look Images'} %>

<div id="images" data-hook></div>

<% unless @look_images.any? %>
  <div class="no-objects-found">
    <%= t('spree.lookbook.event.no_image') %>
  </div>
<% else %>
  <table class="index sortable" data-hook="images_table" data-sortable-link="<%= update_positions_admin_lookbook_collection_lookbook_look_look_images_url(@lookbook_collection, @lookbook, @look) %>">
    <colgroup>
      <col style="width: 5%">
      <col style="width: 10%">
      <col style="width: 45%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="images_header">
        <th colspan="2"><%= t(:thumbnail) %></th>
        <th><%= t(:alt_text) %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @look_images.each do |image| %>
        <tr id="<%= spree_dom_id image %>" data-hook="images_row" class="<%= cycle('odd', 'even')%>">
          <td class="no-border">
            <span class="handle"></span>
          </td>
          <td>
            <%= link_to image_tag(image.attachment.url(:mini)), image.attachment.url(:original) %>
          </td>
          <td><%= image.alt %></td>
          <td class="actions">
            <%= link_to_with_icon 'icon-map-marker', I18n.t('spree.lookbook.tooltip'), tooltip_admin_lookbook_collection_lookbook_look_look_image_url(@lookbook_collection, @lookbook, @look, image), :no_text => true  %>
            <%= link_to_edit_url [:edit, :admin, @lookbook_collection, @lookbook, @look, image], :no_text => true %>
            <%= link_to_delete image, { :url => [:admin, @lookbook_collection, @lookbook, @look, image], :no_text => true } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
