<%= render :partial => 'spree/admin/shared/lookbook_tabs', :locals => {:current => 'Look Images'} %>

<% content_for :page_title do %>
  <%= t('spree.lookbook.tooltip_locations.title.edit') %> 
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t('spree.look.link.back'), admin_lookbook_collection_lookbook_looks_url(@lookbook_collection, @lookbook), :icon => 'icon-arrow-left', :id => 'admin_looks_link' %>
    <%= button_link_to t('spree.look.link.edit'), edit_admin_lookbook_collection_lookbook_look_url(@lookbook_collection, @lookbook, @look), :icon => 'icon-edit', :id => 'admin_active_sales_link' %>
    <%= button_link_to t('spree.look.images.link.back'), [:admin, @lookbook_collection, @lookbook, @look, :look_images], :icon => 'icon-arrow-left', :id => 'admin_active_sales_link' %>
    <%= link_to_with_icon('icon-plus', t(:new_image), [:new, :admin, @lookbook_collection, @lookbook, @look, :look_image], :id => 'new_look_image_link', :class => 'button') %>
  </li>
<% end %>

  <div id="iPicture" class='twelve columns'>
    <fieldset data-hook="edit_tooltip_image_save_top" class="no-border-top">
      <div class="clear"></div>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button t('spree.lookbook.tooltip_locations.save'), 'icon-refresh save' %>
        <span class="or"><%= t(:or) %></span>
          <%= link_to_with_icon 'icon-remove', t(:cancel), [:admin, @lookbook_collection, @lookbook, @look, :look_images], :id => 'cancel_link', :class => 'button' %>
      </div>
    </fieldset>

    <fieldset data-hook="edit_tooltip_image" class="no-border-top">
      <div id="<%= @look_image.id %>" style="background: url('<%= @look_image.attachment.url(:original) %>') no-repeat scroll 0 0 #393737; width: <%= @look_image.attachment_width %>px; height: <%= @look_image.attachment_height %>px; margin:0 auto; background-size: cover; background-repeat: no-repeat;" class="eight columns">
      </div>

      <div class="clear"></div>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button t('spree.lookbook.tooltip_locations.save'), 'icon-refresh save' %>
        <span class="or"><%= t(:or) %></span>
          <%= link_to_with_icon 'icon-remove', t(:cancel), [:admin, @lookbook_collection, @lookbook, @look, :look_images], :id => 'cancel_link', :class => 'button' %>
      </div>
    </fieldset>
  </div>

<%#= link_to image_tag(@look_image.attachment.url(:original), :size => '400x400'), @look_image.attachment.url(:original) %>

<% content_for :head do %>
  <script>
    Spree.tooltip = <%== { :save_url => save_tooltip_admin_lookbook_collection_lookbook_look_look_image_url(@lookbook_collection, @lookbook, @look, @look_image) }.to_json %>
  </script>
<% end %>

<script type="text/css">
  #pageContainer {
    margin:0 auto;
    width: 1000px;
  }
  .control {
    display:block;
    width:74px;
    height:128px;
    text-indent:-10000px;
    position:absolute;
    cursor: pointer;
    z-index:100;
  }
</script>

<%= javascript_tag do %>
  jQuery(document).ready(function(){
    $("#iPicture").iPicture({
    <% if @look_image.tooltip.present? %>
      animation: "<%= @tooltip.animation.to_s %>",
      animationBg: "<%= @tooltip.animationBg %>",
      animationType: "<%= @tooltip.animationType %>",
      pictures: ["<%= @look_image.id %>"],
      button: "<%= @tooltip.button %>",
      moreInfos:{"<%= @look_image.id %>":<%= raw(@tooltip_locations.to_json(:except => ["id", "tooltip_id", "created_at", "updated_at"], :root => false) ) %>},
    <% else %>
      animation: true,
      animationBg: "bgwhite",
      animationType: "ltr-slide",
      pictures: ["<%= @look_image.id %>"],
      button: "moreblack",
      moreInfos:{"<%= @look_image.id %>":[]},
    <% end %>
      modify: true,
      initialize: false
    }); 
  });
<% end %>
