<%= render :partial => 'spree/admin/shared/lookbook_tabs', :locals => { :current => 'Looks' } %>

<div class="left four columns alpha" data-hook="admin_look_form_left">
  <%= f.field_container :name do %>
    <%= f.label :name, raw(t('spree.lookbook.activerecord.name') + content_tag(:span, ' *', :class => 'required')) %>
    <%= f.text_field :name, :class => 'fullwidth' %>
    <%= f.error_message_on :name %>
  <% end %>
  <%= f.field_container :permalink do %>
    <%= f.label :permalink, raw(t('spree.lookbook.activerecord.permalink')) %>
    <%= f.text_field :permalink, :class => 'fullwidth' %>
  <% end %>
  <%= f.field_container :active, :class => ['checkbox'] do %>
    <label>
      <%= f.check_box :active %>
      <%= t('spree.lookbook.activerecord.active') %>
      <%= f.error_message_on :active %>
    </label>
  <% end %>
</div>
<div class="right eight columns omega" data-hook="admin_lookbook_form_right">
  <div class="row">
    <div class="alpha columns clearfix">
      <%= f.field_container :description do %>
        <%= f.label :description, t('spree.lookbook.activerecord.description') %>
        <%= f.text_area :description, {:cols => 40, :rows => 8, :class => 'fullwidth'} %>
        <%= f.error_message_on :description %>
      <% end %>
    </div>
  </div>
</div>