<% content_for :page_title do %>
  <%= @lookbook.name %> &#62; <%= t('spree.look.title.new') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t('spree.look.link.back'), [:admin, @lookbook_collection, @lookbook, @look], :icon => 'icon-arrow-left', :id => 'admin_new_look_link' %>
  </li>
<% end %>

<% if @look.errors.present? %>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @look } %>
<% end %>

<%= form_for @look, :url => [:admin, @lookbook_collection, @lookbook, :looks], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="new_look" class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
  
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button t(:create), 'icon-refresh' %>
      <span class="or"><%= t(:or) %></span>
      <%= link_to_with_icon 'icon-remove', t(:cancel), admin_lookbook_collection_lookbook_looks_url(@lookbook_collection, @lookbook), :id => 'cancel_link', :class => 'button' %>
    </div>
  </fieldset>
<% end %>